:root {
	--font-family: 'Playfair Display', sans-serif;
	--second-family: 'Clicker Script', sans-serif;
	--main-color: #fff;
	--description: #707070;
	--btn-color: #f9c06a;
	--btn-text: #1e1e1e;
	--coffee: #603809;
	--card-bg: #fff9f1;
}

body {
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7; /* 34/20 */
	color: var(--main-color);
}

button {
	border-radius: 24px;
	width: 134px;
	height: 48px;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 16px;
	box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
	background-color: var(--btn-color);
	color: var(--btn-text);
}

img {
	display: block;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.container {
	padding-inline: 93px;
	/* max-width: 1480px; */
	/* margin: 0 auto; */
}

/* === Header 1520*48px === */
.header {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 10;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
}

.logo__text {
	font-family: var(--second-family);
	font-size: 35px;
	color: var(--main-color);
}

.menu__list {
	display: flex;
	gap: 60px;
}

.menu__link {
	font-weight: 500;
	font-size: 14px;
	color: var(--main-color);
}

.sign-in {
	font-weight: 500;
	font-size: 14px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--main-color);
}

.sign-up {
	font-weight: 500;
	font-size: 14px;
	margin-left: 35px;
}

/* === Section Hero 1520*768px === */
.hero {
	background-image:
		linear-gradient(89.82deg, #1e1e1e -7.01%, rgba(0, 0, 0, 0) 87.54%),
		url('../images/coffee-hero.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 768px;
}

.hero__subtitle {
	padding-top: 183px;
	font-weight: 500;
	font-size: 22px;
	color: var(--main-color);
}

.hero__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 220px;
	line-height: 1.32275; /* 291/220 */
	color: #fff;
}

.hero__text {
	max-width: 527px;
	margin-bottom: 20px;
}

/* === Section Discover 1334*484px === */
.discover {
	padding-top: 82px;
}

.discover__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.discover__title {
	font-weight: 700;
	font-size: 54px;
	margin-bottom: 29px;
	color: var(--coffee);
}

.discover__text {
	width: 585px;
	margin-bottom: 29px;
	color: var(--description);
}

.discover__img {
	max-width: 100%;
	height: auto; /* Зберігає пропорції */
}

.coffee-blast-discover {
	position: absolute;
	z-index: -10;
	left: -125px;
	top: 339px;
}

/* === Section Enjoy 1334*542px === */
.enjoy {
	position: relative;
	padding-top: 82px;
}

.enjoy__title {
	font-weight: 700;
	font-size: 54px;
	text-align: center;
	margin-bottom: 16px;
	color: var(--coffee);
}

.enjoy__text {
	text-align: center;
	margin-bottom: 32px;
	color: var(--description);
}

.coffee-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--coffee);
}

.coffee-menu-card {
	position: relative;
	text-align: center;
	transition:
		transform 0.2s ease,
		box-shadow 0.3s ease;
	border: 1px solid rgba(249, 192, 106, 0.42);
	background: var(--card-bg);
}

.coffee-menu-card:hover {
	transform: scale(1.05);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.coffee-menu-card__img {
	margin-top: -1px;
	margin-inline: -1px;
	margin-bottom: 14px;
}

.coffee-menu-card__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.3182; /* 29/22 */
	margin-bottom: 6px;
	color: #603809;
}

.coffee-menu-card__subtitle {
	font-size: 16px;
	line-height: 1.3125; /* 21/16 */
	margin-bottom: 6px;
	color: var(--btn-text);
}

.coffee-menu-card__text {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3334; /* 24/18 */
	margin-bottom: 42px;
	color: #603809;
}

.coffee-menu-card__btn {
	position: absolute;
	left: 50%;
	bottom: -24px;
	transform: translateX(-50%);
}

.coffee-blast-enjoy {
	position: absolute;
	right: 0;
	top: 611px;
}

/* === Section Different 1334*612px === */
.different {
	margin-top: 82px;
	text-align: center;
}

.different__title {
	font-weight: 700;
	font-size: 54px;
	color: var(--coffee);
}

.different__subtitle {
	color: var(--description);
}

.advantages {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	margin-block: 32px;
}

.advantages-card {
	padding: 36px 34px;
	transition: transform 0.6s ease;
	border: 1px solid rgba(249, 192, 106, 0.42);
	background: var(--card-bg);
}

.advantages-card:hover {
	transition: background 0.2s ease-in-out;
	background: #ffeed8;
}

.advantages__img {
	margin: 0 auto;
}

.advantages__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.3215; /* 37/28 */
	margin: 25px 0 8px;
	color: var(--coffee);
}

.advantages__text {
	text-align: center;
	line-height: 1.35; /* 27/20 */
	color: var(--description);
}

.different__text {
	text-align: center;
	color: var(--description);
}

.different__highlight {
	font-weight: 700;
	font-size: 30px;
	color: var(--coffee);
}

.different__btn {
	margin: 24px 0 82px;
}

/* === Section Amazing 1520*574px === */
.amazing {
	background-image: url('../images/amazing-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 574px;
}

.amazing__title {
	max-width: 575px;
	padding-top: 135px;
	font-size: 54px;
	line-height: 1.3334; /* 72/54 */
}

.amazing__text {
	max-width: 409px;
	margin-block: 22px;
}

/* === Section Feedback 1180*524px === */
.feedback {
	position: relative;
	text-align: center;
	padding-top: 82px;
}

.feedback__title {
	font-weight: 700;
	font-size: 54px;
	line-height: 1.3334; /* 72/54 */
	color: var(--coffee);
}

.feedback__text {
	margin-block: 16px 45px;
	color: var(--description);
}

.feedback-card {
	width: 1080px;
	height: 524px;
	margin: 0 auto;
	border: 1px solid rgba(249, 192, 106, 0.42);
	background: var(--card-bg);
}

.feedback-card__quote-icon {
	display: block;
	/* padding-top: 29px;
	padding-left: 29px; */
	padding: 29px 0 0 29px;
}

.feedback-card__text {
	width: 780px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 18px;
	line-height: 2;
	margin-bottom: 28px;
	color: var(--description);
}

.feedback-card__author {
	display: flex;
	flex-direction: column;
}

.feedback-card__name {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	font-style: normal;
	margin-bottom: 4px;
	color: var(--coffee);
}

.feedback-card__role {
	text-align: center;
	color: var(--description);
}

.feedback-card__avatar {
	position: absolute;
	left: 50%;
	bottom: -56px;
	transform: translateX(-50%);
}

.coffee-blast-feedback-left {
	position: absolute;
	bottom: -56px;
	left: -26px;
}

.coffee-blast-feedback-right {
	position: absolute;
	top: 131px;
	right: -56px;
	transform: rotateY(180deg);
}

/* === Slider === */
.swiper {
	color: #603809;
}

/* === Section Subscribe 1520*374px === */
.subscribe {
	position: relative;
	background-image:
		linear-gradient(rgba(96, 56, 9, 0.8), rgba(96, 56, 9, 0.8)),
		url('../images/subscribe-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 374px;
	margin-top: 138px;
	text-align: center;
	color: var(--coffee);
}

.subscribe__title {
	font-size: 54px;
	line-height: 1.3334; /* 72/54 */
	padding-top: 80px;
	color: var(--main-color);
}

.subscribe__text {
	margin: 16px 0 26px;
	color: var(--main-color);
}

.subscribe__img-left {
	position: absolute;
	bottom: -122px;
	left: -147px;
}

.subscribe__img-right {
	position: absolute;
	right: -147px;
	bottom: -122px;
	transform: rotateY(180deg);
}

.subscribe__form {
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
}

.subscribe__input {
	box-sizing: border-box;
	font-family: var(--font-family);
	width: 642px;
	height: 66px;
	font-size: 20px;
	padding: 16px 0 16px 26px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid rgba(249, 192, 106, 0.42);
	color: rgba(0, 0, 0, 0.34);
}

.subscribe__btn {
	font-size: 22px;
	width: 137px;
	height: 66px;
	border-radius: 4px;
	margin-left: -3px;
}

/* === Section Footer 1520*492px === */
.footer {
	height: 492px;
	background-image:
		url('../images/footer-bg.png'),
		linear-gradient(rgba(68, 40, 8, 1), rgba(68, 40, 8, 1));
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer__inner {
	display: flex;
	gap: 66px;
}

.footer-social {
}

.footer-about {
}

.footer-company {
}

.footer-contacts {
}
