:root {
	--font-family: 'Playfair Display', sans-serif;
	--second-family: 'Clicker Script', sans-serif;
	--main-color: #fff;
	--description: #707070;
	--btn-color: #f9c06a;
	--btn-text: #1e1e1e;
	--coffee: #603809;
}

body {
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7; /* 34/20 */
	color: var(--coffee);
}

button {
	border-radius: 24px;
	width: 134px;
	height: 48px;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 16px;
	box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
	background-color: var(--btn-color);
	color: var(--btn-text);
}

img {
	display: block;
}

.container {
	max-width: 1180px;
	padding-inline: 15px;
	/* margin: 0 auto; */
}

/* === Section Discover 1180*484px === */
.discover__img {
	max-width: 100%;
	height: auto; /* Зберігає пропорції */
}

/* === Section Amazing 1366*574px === */
.amazing {
	background-image: url('../images/amazing-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 574px;
}
